.top-container {
  background-color: #E4F9F5;
  position:relative;
  padding-top:100px;
}

.top-cloud{
  position:absolute;
  right: 300px;
  top:40px;
}

.bottom-cloud{
  position:absolute;
  left:250px;
  bottom:300px;
}





h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color:#66BFBF;
  line-height: 2;
  font-family: 'Sacramento', cursive;
}

h2{
  font-size: 2rem;
  font-weight: normal;
  color:#66BFBF;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}

h3{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
}

body{
  color:#40514E;
  margin:0;
  text-align:center;
  font-family: 'Merriweather', serif;
}

a{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6
}

p{
  font-size: 12pt;
  line-height:2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom:none;
  width:4%;
  margin: 100px auto;
}

.intro{
  width: 30%;
  margin:auto;
}


.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.Logo-Screen{
  width:35%;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.Analysis-Screen{
  width:35%;
  float: left;
  margin-right: 30px;
}
.middle-container{
  margin: 100px 0;
}

.bottom-container{
background-color: #66BFBF;
padding: 50px 0 20px;
}

.Data{
  text-decoration:underline;
}

.contact-message{
  width: 40%;
  margin:40px auto 60px;
}

.copyright{
  color:#EAF6F6;
  font-size: 0.75rem;
}

.btn {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:3px 33px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.btn:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.btn:active {
	position:relative;
	top:1px;
}
